
/*
    Fonts at the bottom comment
*/

p {
  color: black;
}

body {
  margin: 0;
  text-align: center;
}




/* CLASSES*/

.intro-h1 {
    font-family: 'Sacramento', cursive;
    color: black;
    margin-top: 0;
    font-weight: bolder;
}


.intro-p {
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
}

/** Clouds and Mountain & Profile*/

.cloud-1 {
    position: absolute;
    right: 390px;
    top: 50px;
}

.cloud-2 {
    position: absolute;
    left: 410px;
    top: 150px;
}

.profile {
    /*height: 200px;
    width: 200px;*/
}

.top-container {
  background-color: #FCFFE7;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
 
}




/* 
    FONT FAMILIES
font-family: 'Arizonia', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Great Vibes', cursive;
font-family: 'Kristi', cursive;
font-family: 'Sacramento', cursive;
    */